[Unit]
Description="ATT VPN service daemon"

[Service]
User=root
Type=forking
ExecStart=/opt/agns/bin/agnclientd && /opt/agns/bin/agnLogd
PIDFile=/var/run/agnclientd.pid

[Install]
WantedBy=multi-user.target
